<?xml version="1.0" encoding="UTF-8"?>

<!--
    Document   : routes.xml
    Created on : 3 avril 2012, 23:37
    Author     : FFOZEU
    Description:
        Purpose of the document follows.
-->

<routes xmlns:xi="http://www.w3.org/2001/XInclude">
    <route url="/" module="Index" action="index" />
    <route url="/index.html" module="Index" action="index" />
    
    <!-- import route du module contact -->
    <xi:include href="../../Modules/Contact/Config/FContactRoute.xml#xpointer(/routes/*)">
        <xi:fallback>
        <error>xinclude: FContactRoute.xml n\'a pas été trouvé</error>
        </xi:fallback>
    </xi:include>
    
    <!-- import route du module contact -->
    <xi:include href="../../Modules/Categories/Config/FCategoriesRoute.xml#xpointer(/routes/*)">
        <xi:fallback>
        <error>xinclude: FCategoriesRoute.xml n\'a pas été trouvé</error>
        </xi:fallback>
    </xi:include>
    
    <!-- import route du module contact -->
    <xi:include href="../../Modules/Adversiting/Config/FAdversitingRoute.xml#xpointer(/routes/*)">
        <xi:fallback>
        <error>xinclude: FAdversitingRoute.xml n\'a pas été trouvé</error>
        </xi:fallback>
    </xi:include>
    
    <route url="/faq.html" module="Faq" action="faq" />
    <route url="/encheres-a-venir.html" module="Encheres" action="become" />
    <route url="/traitemntajax.html" module="Encheres" action="ajaxT" />
    <route url="/encheres-terminees.html" module="Encheres" action="finish" />
    <route url="/detail-product-([0-9]+)\.html" module="Encheres" action="Show" vars="id"/>
    <route url="/achat-de-credits.html" module="Packs" action="index" />
    <route url="/paiement-accepte.html" module="Packs" action="acceptPayment" />
    <route url="/paiement-annule.html" module="Packs" action="cancelPayment" />
    <route url="/valider-paiement.html" module="Packs" action="confirmPayment" />
    <route url="/cms-([0-9]+)\.html" module="Cms" action="show" vars="id"/>
    <route url="/login.html" module="Users" action="connect" />
    <route url="/login2.html" module="Users" action="connect2" />
    <route url="/create-user.html" module="Users" action="create" />
    <route url="/update-user([0-9]+)\.html" module="Users" action="update" vars="id"/>
    <route url="/logout.html" module="Users" action="logout" />
    <route url="/mes-produits-gagnes.html" module="Users" action="produitsGagner" />
    <route url="/mes-encheres-en-cours.html" module="Users" action="EnchereEnCours" />
    <route url="/mes-credits.html" module="Users" action="MesCredits" />
    
     <xi:include href="../../Modules/Utilisateurs/Config/FUtilisateursRoute.xml#xpointer(/routes/*)">
        <xi:fallback>
        <error>xinclude: FUtilisateursRoute.xml n\'a pas été trouvé</error>
        </xi:fallback>
    </xi:include>
    
    <xi:include href="../../Modules/Annonce/Config/FAnnonceRoute.xml#xpointer(/routes/*)">
        <xi:fallback>
        <error>xinclude: FAnnonceRoute.xml n\'a pas été trouvé</error>
        </xi:fallback>
    </xi:include>
    
    <xi:include href="../../Modules/PaiementAPI/Config/FPaiementAPIRoute.xml#xpointer(/routes/*)">
        <xi:fallback>
        <error>xinclude: FPaiementAPIRoute.xml n\'a pas été trouvé</error>
        </xi:fallback>
    </xi:include>
    
    <xi:include href="../../Modules/PaiementMod/Config/FPaiementModRoute.xml#xpointer(/routes/*)">
        <xi:fallback>
        <error>xinclude: FPaiementModRoute.xml n\'a pas été trouvé</error>
        </xi:fallback>
    </xi:include>
    
    <xi:include href="../../Modules/NewsLetter/Config/FNewsLetterRoute.xml#xpointer(/routes/*)">
        <xi:fallback>
        <error>xinclude: FNewsLetterRoute.xml n\'a pas été trouvé</error>
        </xi:fallback>
    </xi:include>
    
    <xi:include href="../../Modules/Search/Config/FSearchRoute.xml#xpointer(/routes/*)">
        <xi:fallback>
        <error>xinclude: FSearchRoute.xml n\'a pas été trouvé</error>
        </xi:fallback>
    </xi:include>
    
    <xi:include href="../../Modules/PackCredits/Config/FPackCreditsRoute.xml#xpointer(/routes/*)">
        <xi:fallback>
        <error>xinclude: FPackCreditsRoute.xml n\'a pas été trouvé</error>
        </xi:fallback>
    </xi:include>
    
    <xi:include href="../../Modules/PaiementCredits/Config/FPaiementCreditsRoute.xml#xpointer(/routes/*)">
        <xi:fallback>
        <error>xinclude: FPaiementCreditsRoute.xml n\'a pas été trouvé</error>
        </xi:fallback>
    </xi:include>
    
    <xi:include href="../../Modules/Partenaires/Config/FPartenairesRoute.xml#xpointer(/routes/*)">
        <xi:fallback>
        <error>xinclude: FPartenairesRoute.xml n\'a pas été trouvé</error>
        </xi:fallback>
    </xi:include>
    
    <xi:include href="../../Modules/GestionAbus/Config/FGestionAbusRoute.xml#xpointer(/routes/*)">
        <xi:fallback>
        <error>xinclude: FGestionAbusRoute.xml n\'a pas été trouvé</error>
        </xi:fallback>
    </xi:include>
    
     <xi:include href="../../Modules/Tchat/Config/FTchatRoute.xml#xpointer(/routes/*)">
        <xi:fallback>
        <error>xinclude: FTchatRoute.xml n\'a pas été trouvé</error>
        </xi:fallback>
    </xi:include>
	
	 <xi:include href="../../Modules/BgManager/Config/FBgManagerRoute.xml#xpointer(/routes/*)">
        <xi:fallback>
        <error>xinclude: FBgManagerRoute.xml n\'a pas été trouvé</error>
        </xi:fallback>
    </xi:include>
    
    <xi:include href="../../Modules/Cron/Config/FCronRoute.xml#xpointer(/routes/*)">
        <xi:fallback>
        <error>xinclude: FCronRoute.xml n\'a pas été trouvé</error>
        </xi:fallback>
    </xi:include>
</routes>
