/* 
    Document   : PackCredits
    Created on : 25 juin 2013, 10:33:36
    Author     : rikudou
    Description:
        Purpose of the stylesheet follows.
*/

#center-page #content-page {
   border: 0 solid #B8B6B6;
    border-radius: 0 0 0 0;
}

