/* 
    Document   : contact.css
    Created on : 23 janv. 2013, 13:38:15
    Author     : ffozeu
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
#content-page {
    height: 700px ;
    overflow: auto ;
    
}
#content-page #contact-form input{
    width: 28%;
    height: 14px;
    color: #7d7d7d;
    font-size: 10px;
}
#content-page #contact-form #id_captcha{
    margin-left: 2%;    
}
#content-page #contact-form{
    font-size: 12px;
     margin: 0px 10px 0;
}
#content-page #contact-form form p{
    margin-left: 1%;
    padding-top: 1.5%;   
}
#content-page #contact-form form label {
    display: inline-block;
    font-size: 12px;
    width: 21%;
    color: #FFFFFF;
}
#content-page #contact-form form label.textarea_label {
    margin-top: 1%;
    position: absolute;
    width: 9%;
}
#content-page #contact-form form #id_message{
     height: 175px;
    margin-left: 24%;
    margin-top: 2%;
    overflow: auto;
    width: 64%;
}
/***button submit**/
#content-page #formulaire #contact-form form .left-bouton {
    background: url("../../../images/left_bouton.png") no-repeat scroll left top transparent;
    display: inline-block;
    height: 23px;
    padding-left: 2px;
    width: 28%;
    margin: auto auto auto 41%;
}
#content-page #formulaire #contact-form form .right-bouton{
    background: url("../../../images/right_bouton.png") no-repeat scroll right top transparent;
    display: inline-block;
    height: 23px;
    padding-right: 2px;
    width: 97%;
}
#content-page #formulaire #contact-form form input.send  {
    background: url("../../../images/center_bouton.png") repeat-x scroll left top transparent;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    font-family: verdana;
    font-size: 12px;
    font-weight: bold;
    height: 23px;
    width: 100%;   
}

#formulaire #contact-form{
    clear: both;
}
#texte-contact {
    width: 55%;
    float: left;
    margin-left: 1%;
    height: 340px;  
}
#texte-contact #info_left span{
    color: #FFFFFF;
    font-size: 12px;  
}
#texte-contact #info_left span.numero{
    color: #000000;
    font-size: 12px;  
}
#texte-contact #info_left span.nume{
    width: 32px;
}
#texte-contact #info_left p{
    padding-top: 5%;
    font-size: 12px;   
    line-height: 118%;
    color: #000000;
}
#texte-contact #info_left p.langue{
    padding-top: 10%;
}
#texte-contact #info_left p.telephone{
    padding-top: 1%;
}
#texte-contact #info_left p.adress{
    padding-bottom: 3%;
}
#contact-form form{
    height: 33%;
}